history
.sx/filter.el
backup/*
\#*\#
recentf
projectile-bookmarks.eld
auto-save-list/
auto-saves/
target/
local-init.el
custom.el
transient/
elpa/
*.~undo-tree~
projectile.cache
eshell/
server/
straight/
undo/